*{
    margin: 0;
    padding: 0;
    color: white;

}
body{
    padding-top: 20px;
    background-image: linear-gradient(#F0A56D,#F05053);
    background-size: auto;
}
footer{
    position: relative;
    border: transparent solid 1px;
    border-radius: 7px;
    background-color: #f78e77;
    opacity: 85%;
    width: 80%;
    min-width: 300px;
    min-height: 70px;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.logo{
    width: 100%;
    background-color: #ffdcc2;
    margin-bottom: 20px;
}
.logo img{
    margin-left: min(50px,12%);
    width: min(500px,88%);
}
.container{
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}
ul{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.mainNavbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: transparent;
    margin: 0;
}
div a, span{
    font-family: charm;
}
.mainNavbar a{
    width: 50%;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}
.mainNavbar a.linkan{
    background-color: #F05053;
}
.mainNavbar a.linkan:hover{
    opacity: 50%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0;
}
.floater{
    width: max(120px, 15%);
}
.left{
    float: left;
}
.right{
    float: right;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
}



.sidebar a{
    background-color: transparent;
    text-align: center;
    padding: 0.5em 0em;
    width: 100%;
    height: 100%;
    padding: auto;
    margin-top: 3px;
    /*box-shadow: 1px 1px 3px 1px chocolate;*/
}
.sidebar a.linkan{
    background-image: linear-gradient(#F05053, #F05053);  /*CE151A*/
}
.sidebar a.linkan:hover{
    background-image: linear-gradient(to right, #F05053 , transparent);
}
.right a.linkan:hover{
    background-image: linear-gradient(to left, #F05053 , transparent);
}
.leftMargin{
    margin-left: max(15%, 120px);
}
.rightMargin{
    margin-right: max(15%, 120px);
}
p{
    padding: 1em;
    text-align: justify;
    font-family: bentham;
}
.ingredients p, p.recipe{
    font-size: 1.5em;
}
p.recipe{
    padding-bottom: 0em;
}
.allCocktails{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.allCocktails a img{
    width: 100%;
    height: auto;
    transition: ease-in 0.6s;
}
.allCocktails a{
    padding: min(5%, 10px);
    width: max(22%,150px);
    height: auto;
}
.allCocktails a img:hover{
    transform: scale(1.10);
    opacity: 40%;
    z-index: -2;
}
.allCocktails a{
    position: relative;
}
.allCocktails a span{
    position: absolute;
    padding: 0;
    height: 20%;
    width: 50%;
    padding-left: 15%;
    padding-right: 25%;
    padding-top: 40%;
    z-index: -1;
    opacity: 1;
    color: white;
    text-align: center;
    font-size: 1.25em;
}
.allBooze{
    padding: max(20px,5%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: min(30px,7%);
}
img.a{
    grid-row: 1;
    grid-column: 1;
    width: 100%;
}
img.b{
    grid-row: 1;
    grid-column: 2;
    width: 100%;
}
img.c{
    grid-row: 2;
    grid-column: 1;
    width: 100%;
}
img.d{
    grid-row: 2;
    grid-column: 2;
    width: 100%;
}
.allBooze a{
    position: relative;
}


img:hover{
    transform: scale(1.15);
}
.allBooze a img{
    transition: ease-in 0.6s;
}
.allBooze a img:hover{
    transform: scale(1.10);
    opacity: 40%;
    z-index: -2;
}

.allBooze a span{
    position: absolute;
    padding: 0;
    height: 20%;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 40%;
    z-index: -1;
    opacity: 1;
    color: white;
    text-align: center;
    font-size: 2em;
}

h1{
    text-align: center;
    color: white;
    padding: 1em;
    font-size: 3em;
    font-family: charm;
    font-weight: bold;
}


div.picture{
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
div.picture img{
    padding: min(10px, 5%);
    width: max(100px,min(900px, 85%));
    transition: linear 1s;
}

.ingredients ul{
    padding: 1em;
    list-style-type: square;
    list-style-position: inside;
}
li{
    padding-top: 6px;
}
.ingredients p{
    padding: 1em 0 0 1em;
}
.rightMargin p~p{
    text-align: center;
    margin-top: 1.5em;
}

footer p{
    margin-right: 100px;
    padding: 0 0.5em 0.5em 1em;
}
footer div+p{
    margin-top: 30px;
}
footer p:last-child{
    object-position: bottom;
}
address{
    padding-left: 1em;
}
footer div{
    float: right;
}
footer div a{
    float: right;
    padding-top: 5px;
    padding-right: 5px;
    height: 30px;
    width: 30px;
}
footer div a img{
    width: 100%;
    height: 100%;
}
footer div a img:hover{
    transform: none;
}
.logo img:hover{
    transform: none;
}


@font-face{
    font-family: charm;
    src: url(../fonts/Charm-Regular.ttf);
}
@font-face{
    font-family: charm;
    src: url(../fonts/Charm-Bold.ttf);
    font-weight: bold;
}
@font-face{
    font-family: bentham;
    src: url(../fonts/Bentham-Regular.ttf);
}